In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

from lightgbm import LGBMClassifier, LGBMClassifier
from sklearn.model_selection import train_test_split, cross_validate
from sklearn.ensemble import RandomForestClassifier

In [2]:
# 데이터 가져오기
train_data = pd.read_csv("train.csv")
train_data_drop = train_data.dropna()

print(train_data_drop.info())

# main_data_drop = pd.concat([idx1to26_drop, idx41to56_drop], axis=1)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12639 entries, 0 to 14999
Data columns (total 70 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         12639 non-null  int64
 1   Q1            12639 non-null  float64
 2   Q2            12639 non-null  float64
 3   Q3            12639 non-null  float64
 4   Q4            12639 non-null  float64
 5   Q5            12639 non-null  float64
 6   Q6            12639 non-null  float64
 7   Q7            12639 non-null  float64
 8   Q8            12639 non-null  float64
 9   Q9            12639 non-null  float64
 10  Q10           12639 non-null  float64
 11  Q11           12639 non-null  float64
 12  Q12           12639 non-null  float64
 13  Q13           12639 non-null  float64
 14  Q14           12639 non-null  float64
 15  Q15           12639 non-null  float64
 16  Q16           12639 non-null  float64
 17  Q17           12639 non-null  float64
 18  Q18           12639 non-null  float64
 19  Q19           12639 non-null  float64
 20  Q20           12639 non-null  float64
 21  Q21           12639 non-null  float64
 22  Q22           12639 non-null  float64
 23  Q23           12639 non-null  float64
 24  Q24           12639 non-null  float64
 25  Q25           12639 non-null  float64
 26  Q26           12639 non-null  float64
 27  country       12639 non-null  object
 28  introelapse   12639 non-null  int64
 29  testelapse    12639 non-null  int64
 30  surveyelapse  12639 non-null  int64
 31  TIPI1         12639 non-null  float64
 32  TIPI2         12639 non-null  float64
 33  TIPI3         12639 non-null  float64
 34  TIPI4         12639 non-null  float64
 35  TIPI5         12639 non-null  float64
 36  TIPI6         12639 non-null  float64
 37  TIPI7         12639 non-null  float64
 38  TIPI8         12639 non-null  float64
 39  TIPI9         12639 non-null  float64
 40  TIPI10        12639 non-null  float64
 41  VCL1          12639 non-null  int64
 42  VCL2          12639 non-null  int64
 43  VCL3          12639 non-null  int64
 44  VCL4          12639 non-null  int64
 45  VCL5          12639 non-null  int64
 46  VCL6          12639 non-null  int64
 47  VCL7          12639 non-null  int64
 48  VCL8          12639 non-null  int64
 49  VCL9          12639 non-null  int64
 50  VCL10         12639 non-null  int64
 51  VCL11         12639 non-null  int64
 52  VCL12         12639 non-null  int64
 53  VCL13         12639 non-null  int64
 54  VCL14         12639 non-null  int64
 55  VCL15         12639 non-null  int64
 56  VCL16         12639 non-null  int64
 57  education     12639 non-null  float64
 58  urban         12639 non-null  int64
 59  gender        12639 non-null  float64
 60  engnat        12639 non-null  float64
 61  age           12639 non-null  int64
 62  hand          12639 non-null  float64
 63  religion      12639 non-null  float64
 64  orientation   12639 non-null  float64
 65  voted         12639 non-null  float64
 66  married       12639 non-null  float64
 67  familysize    12639 non-null  float64
 68  ASD           12639 non-null  float64
 69  nerdiness     12639 non-null  int64
dtypes: float64(46), int64(23), object(1)
memory usage: 6.8+ MB
None

In [3]:
data = pd.concat((train_data_drop.iloc[:,1:27], train_data_drop.iloc[:,41:57]), axis=1)
td = train_data_drop['nerdiness'].to_numpy()
td_1 = td.reshape(-1,1)

print(data.shape)
print(td_1.shape)
train_input, test_input, train_target, test_target = train_test_split(data, td_1, test_size=0.2, random_state=42)

(12639, 42)
(12639, 1)

In [4]:
rf = RandomForestClassifier(n_jobs=-1)
scores = cross_validate(rf, train_input, train_target, return_train_score=True, n_jobs=-1)
print(np.mean(scores['train_score']), np.mean(scores['test_score']))

1.0 0.7702500864196263

### 특성 중요도 추가

In [5]:
rf.fit(train_input, train_target)
print(rf.feature_importances_)

[0.0447719  0.04439505 0.02466411 0.03974549 0.02951212 0.06125102
 0.02627651 0.03165584 0.02898535 0.02458176 0.03971033 0.03875809
 0.03179332 0.03663584 0.04876655 0.03253745 0.02611648 0.03113972
 0.03437626 0.03261112 0.03148162 0.03133752 0.03091893 0.02568828
 0.03316582 0.03229851 0.00285977 0.00489519 0.0128586  0.00220121
 0.00317387 0.00717323 0.00987336 0.01252972 0.00592533 0.00300562
 0.01191422 0.0109168  0.01008494 0.00527009 0.00273379 0.00140925]

### OOB 점수 출력

In [6]:
rf = RandomForestClassifier(oob_score=True, n_jobs=-1, random_state=42)
rf.fit(train_input, train_target)
print(rf.oob_score_)

0.778360201760459

### 모델링

### 제출 파일 생성

In [7]:
submission = pd.read_csv('sample_submission.csv')
submission

       index  nerdiness
0          0         -1
1          1         -1
2          2         -1
3          3         -1
4          4         -1
...      ...        ...
35447  35447         -1
35448  35448         -1
35449  35449         -1
35450  35450         -1
35451  35451         -1

[35452 rows x 2 columns]

In [10]:
lgbm_pred = lgbm_clf.predict(test)
submission["nerdiness"] = lgbm_pred

NameError: ignored